<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Drink&Go</title>
    <style>
        ul {
            list-style-type: none;
            margin: 10;
            padding: 10;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
            display: inline;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px 29px;
                text-decoration: none;
            }

                /* Change the link color to #111 (black) on hover */
                li a:hover {
                    background-color: #111;
                }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" back>
               
                <ul>
                    <li><a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li> @await Component.InvokeAsync("CategoryMenu")</li>
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    <li>@await Component.InvokeAsync("ShoppingCartSummary")</li>
                    <li>@await Html.PartialAsync("LoginPartial")</li>
                    <li style="float:right;" style="padding:20px;">
                        <form class="navbar-form navbar-right" asp-controller="Drinks" asp-action="Search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for a drink" name="searchString" value="@ViewData["searchString"]">
                            </div>
                        </form>
                    </li>
                </ul>
                
                
            </div>
        </div>
    </nav>
    <div class="container body-content" style="padding:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p><a target="_blank" href="https://github.com/MaamounMribah">&copy; 2023 - Maamoun Mribah</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>